.contenido {
  margin-bottom: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.caja {
  max-width: 430px;
}
.caja__contenido {
  padding: 20px;
  background-color: color-claro;
}
.caja__contenido span {
  text-transform: uppercase;
  color: colo-secundario;
  font-family: fuente2;
}
.caja__contenido h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: fuente2;
}
