.encabezado--con-filtros h2 {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  font-family: fuente2;
}
.filtros {
  width: 250px;
  height: 75px;
  padding: 20px;
  margin-left: auto;
}
.filtros span {
  text-transform: uppercase;
  font-family: fuente2;
}
.filtros a {
  margin-left: 20px;
  font-size: 25px;
  color: color-primario;
}
